<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso Basico de Vue.js | Platzi</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

<div id="app">
    <h1>
      Mis Cursos FD ✍️ 
    </h1>
      <p>
        <input v-model="newCourse.title" type="text" ref="title" placeholder="Titulo del curso"/>
        <span class="red" v-show="!courseTitleIsValid">
            Ingrese nombre de curso valido.
        </span>
      </p>
      <p>
          <input v-model="newCourse.time" type="number" placeholder="Horas"/>
          <span class="red" v-show="!timeIsValid">
              Tiempo de curso no válido, debe ser de al menos 5 horas.
            </span>
      </p>
      <p>
        <button v-on:click="addCourse">Guardar Curso</button> <!--<button v-on:click="deletedAll">Cancelar</button>-->
      </p>
    </fieldset>
    <div>
      <h3>Lista de Cursos</h3>
      <p class="red" v-if="courses.length === 0">
          Aun no has realizado cursos
      </p>
      <div>
        <ol>
          <li v-for="course in courses">
            {{ course.title }} ({{ course.time }} horas)
          </li>
        </ol>
        <hr/>
        <p>
          Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
          <b>#NuncaParesDeAprender 💪 </b>
        </p>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>